* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

hmtl {
    overflow: auto;
    height: 100%;
    width: 95%;
    margin: auto;
    font-size: 100%;
}

body {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
 
/* Parte principal*/
body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#titulo1 {
    color: #ffffff;
    margin: 5px;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    padding: 10px 10px 20px 10px;
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: 90vh;
    margin-top: 4vh;
}

#agendeja {
    background: #394937;
    background: radial-gradient(circle, rgba(57,73,55,1) 0%, rgba(102,147,97,1) 55%, rgba(102,147,97,1) 87%);
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0 auto;
}

/* Seção de preenchimento de dados*/
#agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(85, 117, 81, .8); 
    width: 800px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
}
  
#agendamento h3 {
    color: #ffffff;
    padding: 15px 0px 0px 20px;
    font-size: 25px;
    font-weight: 100;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

input {
    color: white;
    font-size: 18px;
}

select {
    color: white;
    font-size: 15px;
    width: 100px;
}

#nome {
    background: transparent;
    border: none;
    border-bottom: 2px solid #cacecd;
    width: 300px;
    padding: 5px 10px 5px 10px;
    outline: 0;
}

#tel {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(202, 206, 205);
    width: 300px;
    padding: 5px 10px 5px 10px;
    outline: 0;
}

::placeholder {
    color: white;
    font-size: 15px;
}

#servicos-lista {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(202, 206, 205);
    width: 320px;
    padding: 5px 10px 5px 6px;
    outline: 0;
    margin-bottom: 20px;
}

select option[value="acrigel"] {
    background: rgba(100, 100, 100, 0.3);
}

select option[value="acrilica"] {
    background: rgba(100, 100, 100, 0.3);
}

select option[value="gel"] {
    background: rgba(100, 100, 100, 0.3);
}

select option[value="fibra-seda"] {
    background: rgba(100, 100, 100, 0.3);
}

#submit-btn {
    color: rgb(85, 117, 81, .8);
    font-weight: 700;
    outline: 0;
    width: 100px;
    margin-left: 100px;
}  

/*Calendário*/
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Cabeçalho mês */
.mes {
    padding: 70px 1px;
    width: 800px;
    background:rgb(85, 117, 81, .8);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
}

/* Lista mês */
.mes ul {
    margin: 0;
    padding: 0;
}

.mes ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* botao anterior */
.mes .prev {
    float: left;
    padding-top: 10px;
    padding-left: 40px;
}

/* botao proximo */
.mes .next {
    float: right;
    padding-top: 10px;
    padding-right: 40px;
}

/* dias da semana */
.diasemana {
    font-weight: 800;
    margin: 0 auto;
    padding: 10px 0;
    background-color: rgb(191, 196, 195);
    width: 800px;   
}

.diasemana li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* dias */
.dias {
    font-size: 22px;
    font-weight: 800;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

.dias li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 20px;
    font-size:12px;
    color: #666;
}

/* marcar o dia atual */
.dias li .active {
    border-radius: 100%;
    padding: 10px;
    background:rgb(85, 117, 81, .99);
    color: white;
}

/*botao calendario*/